<div class="container">
  <h1>Welcome to Craigslist</h1>

  <div>
    <ul>
      <li><a href="/post/create/">Create Post</a></li>
      <li><a href="/post/edit/">Edit Post</a></li>
    </ul>
  </div>

  <div>
    <ul>
      <lh>Categories</lh>
      <li><a href="/categories/1/">Houses</a></li>
      <li><a href="/categories/2/">Bikes</a></li>
      <li><a href="/categories/3/">Skis</a></li>
    </ul>
  </div>
</div>
